.root {
    -text-color: white;
    -background-color: #11101D;
}
.clickButton {
    -fx-padding: 5 10;
    -fx-background-color: -background-color;
    -fx-text-fill: -text-color;
}

.switchButton {
    -fx-background-color: -background-color;
    /*-fx-background-radius: 15;*/
    -fx-border-width: 2;
}
.switchButton > .button{
    /*-fx-background-radius: 15;*/
    -fx-background-color: #343340;
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 10, 0, 0, 0);
}
.switchButton > .button .label{
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 15, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 15;
}
.clickButton:hover, .testButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(17, 16, 29), 15, 0, 0, 0);
}
.shadowGridPane{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.51), 25, 0.2, 0, 0);
    -fx-background-color: #fff;
}
.notExist{
    -fx-text-fill: red;
    -fx-font-size: 16;
}
.exist{
    -fx-text-fill: limegreen;
    -fx-font-size: 16;
}
.testButton {
    -fx-padding: 8 20;
    -fx-background-color: -background-color;
    -fx-text-fill: -text-color;
}

.date-picker, .text-area, .text-field, .combo-box {
    -fx-border-color: -background-color;
    -fx-border-radius: 4 4 4 4;
}

.text-area:focused, .combo-box:focused {
    -fx-border-width: 0;
}

.date-picker:focused, .date-picker:focused .text-field {
    -fx-border-width: 0;
}

.date-picker .text-field {
    -fx-border-color: -background-color;
    -fx-border-radius: 4 0 0 4;
}

.workplace {
    -fx-background-color: -background-color;
}

#mainPane {
    -fx-background-color: #f4f4f4;
}

.vbox .label, Text {
    -fx-font-size: 18;
    -fx-text-fill: -text-color;
}

.menuPane .button {
    -fx-background-color: transparent;
}

.menuPane .glyph-icon {
    -fx-fill: -text-color;
}

.menuPane FontAwesomeIconView, OctIconView {
    /*-fx-fill: -text-color;*/
    -glyph-size: 20;
}

.vbox GridPane {
    -fx-padding: 7 0 7 0;
}

.vbox GridPane:hover {
    -fx-background-color: -text-color;
    /*-fx-background-color: rgba(255, 0, 0, 0.35);*/
    -fx-background-radius: 15;
}

.vbox > GridPane > .label {
    -fx-text-fill: -text-color;
}

.vbox > GridPane > .glyph-icon {
    -fx-fill: -text-color;
    -glyph-size: 20;
}

.vbox GridPane:hover .label {
    -fx-text-fill: -background-color;
}

.vbox GridPane:hover .glyph-icon {
    -fx-fill: -background-color;
}
.tab-pane  .glyph-icon {
    -fx-fill: -background-color;
    -glyph-size: 18;
}
.tab-pane  .tab {
    -glyph-size: 18;
    -fx-font-size: 15;
}
