#productsFilter{
    display: grid;
    grid-template-rows: 25px 30px 25px 30px 25px 30px 80px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.divWriteOf{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    width: 100%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-rows: 20px 30px 15px 20px 100px 15px 80px;
    align-items: center;
    justify-items: center;
}
#count{
    width: 50%;
    text-align: center;
}
#comment{
    width: 90%;
    resize: none;
    height: 100%;
}
#message{
    height: auto;
}
input[type='date']{
    width: 70%;
}