<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <script th:src="@{/dataTable/jquery.js}"></script>
    <script th:src="@{/dataTable/paginator.js}"></script>
    <script th:src="@{/js/actions.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="userSidebar :: userSidebar" class="sidebar"></div>
<section class="home-section " id="waybillsPage" style="padding: 20px">
    <div class="divTableOfProducts" style="width: 100%;">
        <div class="scrollDiv">
            <table class="tableOfProducts" id="productTable">
                <thead>
                <tr>
                    <th onclick="sortTable(1, 'str')">Логин</th>
                    <th onclick="sortTable(2, 'num')">Табельный номер</th>
                    <th onclick="sortTable(3, 'str')">ФИО</th>
                    <th onclick="sortTable(4, 'str')">Роль</th>
                </tr>
                </thead>
                <tbody id="dest">
                <!--/*@thymesVar id="users" type="kup.get.energy.energyJournal.entity.energy.User"*/-->
                <tr th:each="user : ${users}">
                    <td class="id" style="display: none" th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getTabNum()}"></td>
                    <td th:text="${user.getFIO()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td id="editButton">
                        <a th:href="@{/admin/users/{id}(id=${user.getId()})}">
                            <img th:src="@{/dataTable/edit.png}" alt="Редактировать пользователя">
                        </a>
                    </td>
                    <td id="deleteButton">
                        <form th:method="DELETE"
                              th:action="@{/admin/users/{id}(id=${user.getId()})}">
                            <button>
                                <img th:src="@{/dataTable/delete.png}" alt="Удалить пользователя">
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td colspan="11" id="addButton">
                        <a th:href="@{/admin/users/new}">
                            <div>
                                <img th:src="@{/dataTable/add.png}" alt="Добавить пользователя">
                                <span>Добавить пользователя</span>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="index_native" class="box"></div>
    </div>
</section>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<script>
    let box = paginator({
        table: document.getElementById("productTable"),
        box: document.getElementById("index_native"),
        box_mode: "button"
    });
</script>
<script th:if="${message}" th:inline="javascript">
    message(document.querySelector("#message"), [[${message}]]);
</script>
<script th:if="${error}" th:inline="javascript">
    error(null, document.querySelector("#message"), [[${error}]]);
</script>
</body>
</html>
