<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Выписать мастеру</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
<!--    <link rel="stylesheet" th:href="@{/css/writeToMaster.css}">-->
    <script th:src="@{/dataTable/jquery.js}"></script>
    <script th:src="@{/dataTable/paginator.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:insert="userSidebar :: userSidebar" class="sidebar"></div>
<section class="home-section " id="waybillsPage">
    <div class="divWorkPlace">
        <form id="productsFilter">
            <label for="name">Наименование</label>
            <input type="text" id="name" name="name">
            <label for="dateExpiration">Срок исполнения</label>
            <input type="month" id="dateExpiration" name="expiration">
        </form>

        <textarea class="messageArea" id="message" style="position: relative" readonly></textarea>
        <div class="divWriteToMaster">
            <label for="count">Количество</label>
            <input type="number" id="count" style="width: 150px; text-align: center" min="1"
                   max="999" required>
            <label class="errorField" id="countError"></label>
            <button class="buttonMenu" id="writeToMasterButton" style="margin-top: 0">Выписать товар</button>
        </div>
    </div>
    <div class="divTableOfProducts">
        <div class="scrollDiv">
            <table class="tableOfProducts" id="productTable">
                <thead>
                <tr>
                    <th onclick="sortTable(1, 'num')">Номер накладной</th>
                    <th onclick="sortTable(2, 'num')">Шифр учёта</th>
                    <th onclick="sortTable(3, 'str')">Наименование</th>
                    <th onclick="sortTable(4, 'str')">Ед. изм.</th>
                    <th onclick="sortTable(5, 'str')">Статус</th>
                    <th onclick="sortTable(6, 'num')">Количество</th>
                    <th onclick="sortTable(7, 'num')">Цена</th>
                    <th onclick="sortTable(8, 'num')">Сумма</th>
                </tr>
                </thead>
                <tbody id="dest">
                <tr th:each="product : ${products}">
                    <td class="id" style="display: none" th:text="${product.getId()}"></td>
                    <td th:text="${product.getWaybills().getId()}"></td>
                    <td th:text="${product.getType().getId()}"></td>
                    <td th:text="${product.getType().getName()}"></td>
                    <td th:text="${product.getType().getUnit()}"></td>
                    <td th:text="${product.getStatus()}"></td>
                    <td class="remaining" th:text="${product.getRemaining()}"></td>
                    <td class="price" style="word-break: normal"
                        th:text="${#numbers.formatDecimal(product.getPrice(),2, 2, 'POINT')}"></td>
                    <td class="sum" style="word-break: normal"
                        th:text="${#numbers.formatDecimal(product.getRemaining()*product.getPrice(),2, 2, 'POINT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="index_native" class="box"></div>
    </div>
</section>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--<script th:src="@{/js/writeToMaster.js}"></script>-->
<script>
    let box = paginator({
        table: document.getElementById("productTable"),
        box: document.getElementById("index_native"),
        box_mode: "button"
    });
</script>
</body>
</html>
